.vrGallery_layer {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
	opacity: 0;
	/* 애니메이션 효과 수정 필요 */
	transform: translateY(100%) translateY(20px);
	transition: all 0.8s ease;
}
.vrGallery_layer.show {
	opacity: 1;
	transform: none;
}

.vrGallery_layer .vrGallery_area-upper {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10000;
	background: none;
	cursor: zoom-in;
}
.vrGallery_layer .vrGallery_area {
	height: 100%;
}

.vrGallery_layer .vrGallery_area.fullscreen {
    float: none;
}

.vrGallery_layer .vrGallery_area.ios-fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}