<section id="exhibition" class="single-feature padding_bottom padding_top mt-1 mt-lg-n4 mt-md-n3">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-7 text-sm-left text-center wow fadeInLeft animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms;">
                <div class="heading-title mb-4">
                    <!-- <h2 class="darkcolor font-normal bottom30">카페 <span class="defaultcolor">소사이어티</span> 전</h2> -->
                    <h2 class="exhi-title darkcolor font-normal bottom30">BONBON GALLERY 2023년 2월 우수작</h2>
                </div>
                <p class="exhi-express bottom35">BONBON GALLERY<br>2023년 2월 우수 작품을 소개합니다.<br><br>양준희(9세) ‘즐거운 불꽃놀이‘<br><br>오늘 수업 시간에 원근법을 배웠어요. <br>불꽃놀이를 구경하는 사람들을 그렸는데 소녀가 제일 가까이 있어서 크게 그렸어요.<br>다른 사람들은 멀리 있어서 작아요.</p>
                <!-- <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4">Learn More</a>  -->
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms;">
            	<div class="btn-edit btn-change-img" id="top_edit" onclick="gRE.open_image_change();" style="display: none;">Edit</div>
                <div class="image"><img id="vr_rental_img" alt="SEO" src="/img/rental/tp-imgpick_07.jpg"></div>
            </div>
        </div>
    </div>
</section>