<section id="dbook_section" style="background:#000; padding-bottom:50px; min-height:800px;">
    <link href="{{ url_for('static', filename='css/dbook.css') }}" rel="stylesheet">

    <div class="constelacao"></div>
    <div class="chuvaMeteoro"></div>
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">D-BOOK STORE</h2>
        <p class="text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">아이들이 작성한 그림 동화책</p>
    </div>

    <div style="display: flex;justify-content: center;margin-top:25px;">
        <div class="grid-outer" style="width: calc(100% - 200px);padding: 15px 250px;">
            <div class="grid-inner">
                <li>
                    <p class="description">동화 이야기 1편</p>
                    <a href="#flipbook_section" name="flip"><img src="{{ url_for('static', filename ='images/artimages/image (1).jpg' ) }}"></a>
                </li>
            </div>
            <div class="grid-inner">
                <li>
                    <p class="description">동화 이야기 2편</p>
                    <a href="#flipbook_section" name="flip"><img src="{{ url_for('static', filename ='images/artimages/image (3).jpg' ) }}"></a>
                </li>
            </div>
            <div class="grid-inner">
                <li>
                    <p class="description">동화 이야기 3편</p>
                    <a href="#flipbook_section" name="flip"><img src="{{ url_for('static', filename ='images/artimages/image (2).jpg' ) }}"></a>
                </li>
            </div>
        </div>
    </div>
    <div style="z-index: 21;position: relative;width:100%;display: flex;justify-content: center;height: 25px;padding: 0 250px;margin-top: -50px;">
        <img src="static/images/stand.png" style="min-width: 100%; !important">
    </div>

    <div style="display: flex;justify-content: center;margin-top:25px;">
        <div class="grid-outer" style="width: calc(100% - 200px);padding: 15px 250px;">
            <div class="grid-inner">
                <li>
                    <p class="description">그림책 1편</p>
                    <a href="#flipbook_section" name="flip"><img src="{{ url_for('static', filename ='images/artimages/image (4).jpg' ) }}"></a>
                </li>
            </div>
            <div class="grid-inner">
                <li>
                    <p class="description">그림책 2편</p>
                    <a href="#flipbook_section" name="flip"><img src="{{ url_for('static', filename ='images/artimages/image (5).jpg' ) }}"></a>
                </li>
            </div>
            <div class="grid-inner">
                <li>
                    <p class="description">그림책 3편</p>
                    <a href="#flipbook_section" name="flip"><img src="{{ url_for('static', filename ='images/artimages/image (6).jpg' ) }}"></a>
                </li>
            </div>
        </div>
    </div>
    <div style="z-index: 21;position: relative;width:100%;display: flex;justify-content: center;height: 25px;padding: 0 250px;margin-top: -50px;">
        <img src="static/images/stand.png" style="min-width: 100%; !important">
    </div>

</section>



