<section id="youtube_section" class="bglight" style="background-color: black">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">ART BONBON YOUTUBE</h2>
        <p class="text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">다양한 컨텐츠를 아트 봉봉 유튜브에서 만나보세요!</p>
    </div>
    <div class="center_box">
        <div id="video_list" class="grp-events" style="padding-bottom:50px;">
            <div class="grp-exhi-box" style="height:315px">
                <div class="grp-thumb" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZmLXNyxbk7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="grp-exhi-box" style="height:315px">
                <div class="grp-thumb" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IYKvc-YD8ZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="grp-exhi-box" style="height:315px">
                <div class="grp-thumb">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0iB_LaYXjcc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div id="video_list" class="grp-events" style="padding-bottom:0px;">
            <div class="grp-exhi-box" style="height:315px">
                <div class="grp-thumb" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kJWPkc_FzlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="grp-exhi-box" style="height:315px">
                <div class="grp-thumb" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bUFwdqwCIqk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="grp-exhi-box" style="height:315px">
                <div class="grp-thumb">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lhmnopC_PRE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>