<footer id="site-footer" class="">
	<div id="say-hello" class="container-fluid">
		<div class="row">

			<div class="col-lg-6 p-0">
				<section class="bgyellow h-100 m-0 padding_half">
					<div class="row justify-content-end m-0">
						<div class="col-half-section col-half-section-right mr-5">

							<h2 class="hello-title rental-txt-memo2">Say HELLO</h2>

							<div class="contact-form-success alert alert-success d-none mt-4">
								<strong>Success!</strong> Your message has been sent to us.
							</div>
							<div class="contact-form-error alert alert-danger d-none mt-4">
								<strong>Error!</strong> There was an error sending your message.
								<span class="mail-error-message text-1 d-block"></span>
							</div>


							<div class="form-content">
								<div class="form-control-custom">
									<input type="text" id="visitor_name" class="form-control" placeholder="name." autocomplete="false">
								</div>
								<div class="form-control-custom">
									<textarea maxlength="5000" rows="8" class="form-control" placeholder="message." id="visitor_msg"></textarea>
								</div>
								<div class="form-control-custom">
									<input type="password" id="visitor_pass" class="form-control" placeholder="password." autocomplete="new-password">
								</div>
								<button type="button" id="visitor_submit" class="button btn-dark ml-2">Submit</button>
							</div>

						</div>
					</div>
				</section>
			</div>

			<div class="col-lg-6 p-0">
				<section class="host-section h-100 m-0 padding_half" style="/*background: url(img/demos/resume/contact/contact-bg-1.jpg); background-size: cover;*/">
					<div class="row m-0">
						<!-- <div class="btn-edit btn-change-host" id='bottom_edit' onclick="gRE.open_info_change()">Edit</div> -->
						<div class="col-half-section col-half-section-left ml-5">
							<h2 class="host-name"><span id="host_label">주최</span> : <span id="host_name">(주)아이스크림아트</span></h2>
							<div class="host-info">
								<div class="host-tel mb-3" style=""><img src="/resource/rental/img/footer_ico_tel.png"><span id="host_tel">1833-2477</span></div>
								<div class="host-email" style=""><img src="/resource/rental/img/footer_ico_email.png"><span id="host_email">artbonbonvoc@gmail.com</span></div>
							</div>
							<div class="host-sns-wrapper" style="">
								<span class="host-sns-title">SNS</span>
								<ul class="social-icons white wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms;">
			                        <li class="host-sns host-sns-facebook"><a href="javascript:gosns('facebook');" class="facebook"><i class="fab fa-facebook-f"></i> </a> </li>
			                        <li class="host-sns host-sns-twitter"><a href="javascript:gosns('twitter');" class="twitter"><i class="fab fa-twitter"></i> </a> </li>
			                        <li class="host-sns host-sns-blog"><a href="javascript:gosns('blog');" class="naver"><img src="/resource/rental/img/sns_naver.png" style="vertical-align:inherit;"> </a> </li>
			                        <li class="host-sns host-sns-instagram"><a href="javascript:gosns('instagram');" class="insta"><i class="fab fa-instagram"></i> </a> </li>
			                        <li class="host-sns host-sns-youtube show"><a href="javascript:gosns('youtube');" class="youtube"><i class="fab fa-youtube"></i> </a> </li>
			                    </ul>
							</div>

							<!-- Gallery360 Footer -->
							<address class="addr text-light mt-4 mobile-hidden" id="footer_ko" style="">
                				상호명 : 갤러리360(주) | 대표 : 신효미 | 사업자등록번호 : 828-88-01007<br>
								통신판매신고번호 : 제2019-경기파주-0223호 | 주소 : 경기도 파주시 소리천로25, 916호 (유은타워 7차)<br>
								E-mail: help@gallery360.co.kr | 서비스센터 070-8803-0123 <br>
								<span class="copy_right">Copyright © 2018-2023 Gallery360. All Rights Reserved.</span>
            				</address>

            				<address class="addr text-light mt-4 mobile-hidden" id="footer_us" style="display:none;">
                				Company : Gallery360 | CEO : Shin Hyo-mi | Business Number : 828-88-01007 (Republic of Korea)<br>
								Mail-order-sales approval number : 제2019-경기파주-0223호<br>
								Address : 9F, 916, 25, Soricheon-ro, Paju-si, Gyeonggi-do, Republic of Korea<br>
								E-mail: help@gallery360.co.kr | Tel : +82 70-8803-0123 <br>
								<span class="copy_right">Copyright © 2018-2023 Gallery360. All Rights Reserved.</span>
            				</address>

            				<a class="footer-logo" href="/" target="_blank">Gallery360 Homepage</a>
            				<div class="signmanu">
              					<a style="cursor:pointer" class="btn-signmanu btn-rect" id="pop1">사업자정보확인</a>
              					<a style="cursor:pointer" class="btn-signmanu btn-rect" id="pop2">개인정보 취급방침</a>
              					<a style="cursor:pointer" class="btn-signmanu btn-rect" id="pop3">이용약관</a>
            				</div>

						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

</footer>