<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script async="" src="static/resource/book/js/flipbook.webgl.min.js?open&v=1.0"></script>
        <script async="" src="static/resource/book/js/three.min.js?open&v=1.0"></script>
        <script async="" src="static/resource/book/js/iscroll.min.js?open&v=1.0"></script>
        <script src="{{url_for('static', filename='resource/book/js/jquery.js')}}"></script>

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='resource/book/css/magazine.css')}}">
        <script src="static/resource/book/js/flipbook.min.js?open&v=1.0"></script>
        <script src="static/resource/book/js/promise.js?open&v=1.0"></script>
        <script src="static/resource/book/js/fetch.js?open&v=1.0"></script>
        <script src="static/js/main_gallery.js"></script>

        <link href="{{ url_for('static', filename='css/intro.css') }}" rel="stylesheet">
    </head>
    <body>
    <section>
        <div class="wrap">
            <div class="container main-container" style="max-width: 100% !important;padding: 0;">
                <div class="container__inner">
                    <div class="meta_title" style="color:#fff;">ART BONBON</div>
                    <div class="main-billboard">
                        <!-- main-tagcloud-wrap -->
                        <div class="main-billboard-cont main-tagcloud-wrap" style="">
                            <div class="main-tagcloud-inner tagcloud-pc"  style="transform: translate(-0.5px, 0.195px);">
                                <ul class="main-tagcloud-list">
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor">
                                            <span class="main-tagcloud__text">JSHAN</span>
                                            <img src="static/images/artimages/image (16).jpg" class="main-tagcloud__img" alt="concert-1">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <div class="main-tagcloud__anchor mtag--v">
                                            <a href="#">
                                                <span class="main-tagcloud__text">CONCERT</span>
                                                <img src="static/images/artimages/image (15).jpg" class="main-tagcloud__img" alt="concert-1">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="main-tagcloud-list">
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor">
                                            <span class="main-tagcloud__text">MUSIC</span>
                                            <img src="static/images/artimages/image (14).jpg" class="main-tagcloud__img" alt="music">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <div class="main-tagcloud__anchor mtag--v">
                                            <a href="#">
                                                <span class="main-tagcloud__text">CULTURE</span>
                                                <img src="static/images/artimages/image (13).jpg" class="main-tagcloud__img" alt="culture">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <div class="main-tagcloud__anchor mtag--v">
                                            <a href="#">
                                                <span class="main-tagcloud__text rainbow">JSHAN</span>
                                                <img src="static/images/artimages/image (12).jpg" class="main-tagcloud__img" alt="ecommerce">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="main-tagcloud-list">
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor mtag--s">
                                            <span class="main-tagcloud__text">EDUCATION</span>
                                            <img src="static/images/artimages/image (11).jpg" class="main-tagcloud__img" alt="education">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor" target="_self">
                                            <span class="main-tagcloud__text">ART</span>
                                            <img src="static/images/artimages/image (10).jpg" class="main-tagcloud__img" alt="art">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor mtag--s" target="_self">
                                            <span class="main-tagcloud__text">DRAWING</span>
                                            <img src="static/images/artimages/image (17).jpg" class="main-tagcloud__img" alt="concert-1">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor" target="_self">
                                            <span class="main-tagcloud__text">JSHAN</span>
                                            <img src="static/images/artimages/image (9).jpg" class="main-tagcloud__img" alt="video-conference">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="main-tagcloud-list">
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor">
                                            <span class="main-tagcloud__text">I-SCREAM</span>
                                            <img src="static/images/artimages/image (8).jpg" class="main-tagcloud__img" alt="untact">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor" target="_self">
                                            <span class="main-tagcloud__text">I-SCREAM EDU</span>
                                            <img src="static/images/artimages/image (7).jpg" class="main-tagcloud__img" alt="crypto-currency">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <div class="main-tagcloud__anchor mtag--v">
                                            <a href="#">
                                                <span class="main-tagcloud__text">I-SCREAM MEDIA</span>
                                                <img src="static/images/artimages/image (6).jpg" class="main-tagcloud__img" alt="social-media">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="main-tagcloud-list">
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor">
                                            <span class="main-tagcloud__text">SIGONG</span>
                                            <img src="static/images/artimages/image (18).jpg" class="main-tagcloud__img" alt="concert-1">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <div class="main-tagcloud__anchor mtag--s mtag--v">
                                            <a href="#">
                                                <span class="main-tagcloud__text">TECH</span>
                                                <img src="static/images/artimages/image (6).jpg" class="main-tagcloud__img" alt="chat">
                                            </a>
                                        </div>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor">
                                            <span class="main-tagcloud__text">VR</span>
                                            <img src="static/images/artimages/image (19).jpg" class="main-tagcloud__img" alt="concert-1">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor mtag--s">
                                            <span class="main-tagcloud__text">GALLERY</span>
                                            <img src="static/images/artimages/image (5).jpg" class="main-tagcloud__img" alt="seamless">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="main-tagcloud-list">
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor mtag--s">
                                            <span class="main-tagcloud__text">GAME</span>
                                            <img src="static/images/artimages/image (20).jpg" class="main-tagcloud__img" alt="concert-1">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor" target="_self">
                                            <span class="main-tagcloud__text">CREATIVE</span>
                                            <img src="static/images/artimages/image (4).jpg" class="main-tagcloud__img" alt="creative">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor">
                                            <span class="main-tagcloud__text">HOBBY</span>
                                            <img src="static/images/artimages/image (3).jpg" class="main-tagcloud__img" alt="landscape">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="main-tagcloud-list">
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor" target="_self">
                                            <span class="main-tagcloud__text">AR</span>
                                            <img src="static/images/artimages/image (2).jpg" class="main-tagcloud__img" alt="ar">
                                        </a>
                                    </li>
                                    <li class="main-tagcloud-box">
                                        <a href="#" class="main-tagcloud__anchor">
                                            <span class="main-tagcloud__text">VALUE</span>
                                            <img src="static/images/artimages/image (1).jpg" class="main-tagcloud__img" alt="nft">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div id="container"></div>
    </section>
    </body>
</html>