<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ART | BONBON</title>
    <link rel="icon" href="static/images/logo/main_logo.png">
    <script src="{{ url_for('static', filename='js/plugin/jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/intro.css') }}" rel="stylesheet">
</head>
<body>
<section>
    <div class="wrap">
        <div class="container main-container">
            <div class="container__inner">
                <div class="meta_title" style="color:#fff;">ART BONBON</div>
                <div class="main-billboard">
                    <!-- main-tagcloud-wrap -->
                    <div class="main-billboard-cont main-tagcloud-wrap" style="">
                        <div class="main-tagcloud-inner tagcloud-pc"  style="transform: translate(-0.5px, 0.195px);">
                            <ul class="main-tagcloud-list">
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor">
                                        <span class="main-tagcloud__text">GLOBAL</span>
                                        <video control="false" poster="" autoplay="autoplay" muted="muted" loop="" playsinline="" class="main-tagcloud__video">
                                            <source src="static/images/intro/global.mp4" type="video/mp4">
                                        </video>
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <div class="main-tagcloud__anchor mtag--v">
                                        <a href="#">
                                            <span class="main-tagcloud__text">CONCERT</span>
                                            <img src="static/images/intro/concert-1.jpg" class="main-tagcloud__img" alt="concert-1">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="main-tagcloud-list">
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor">
                                        <span class="main-tagcloud__text">MUSIC</span>
                                        <img src="static/images/intro/music.jpg" class="main-tagcloud__img" alt="music">
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <div class="main-tagcloud__anchor mtag--v">
                                        <a href="#">
                                            <span class="main-tagcloud__text">CULTURE</span>
                                            <img src="static/images/intro/culture.jpg" class="main-tagcloud__img" alt="culture">
                                        </a>
                                    </div>
                                </li>
                                <li class="main-tagcloud-box">
                                    <div class="main-tagcloud__anchor mtag--v">
                                        <a href="#">
                                            <span class="main-tagcloud__text rainbow">ECOMMERCE</span>
                                            <img src="static/images/intro/ecommerce.jpg" class="main-tagcloud__img" alt="ecommerce">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="main-tagcloud-list">
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor mtag--s">
                                        <span class="main-tagcloud__text">EDUCATION</span>
                                        <img src="static/images/intro/education.png" class="main-tagcloud__img" alt="education">
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor" target="_self">
                                        <span class="main-tagcloud__text">ART</span>
                                        <img src="static/images/intro/art.jpg" class="main-tagcloud__img" alt="art">
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor mtag--s" target="_self">
                                        <span class="main-tagcloud__text">AVATAR</span>
                                        <video control="false" poster="/image/upload/asset_library/MDA00000000000022487/24b52dee7a554058876318c9af4e29ef.jpg" autoplay="autoplay" muted="muted" loop="" playsinline="" class="main-tagcloud__video">
                                            <source src="static/images/intro/avatar.mp4" type="video/mp4">
                                        </video>
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor" target="_self">
                                        <span class="main-tagcloud__text">VIDEO CONFERENCE</span>
                                        <img src="static/images/intro/video-conference.png" class="main-tagcloud__img" alt="video-conference">
                                    </a>
                                </li>
                            </ul>
                            <ul class="main-tagcloud-list">
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor">
                                        <span class="main-tagcloud__text">UNTACT</span>
                                        <img src="static/images/intro/untact.jpg" class="main-tagcloud__img" alt="untact">
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor" target="_self">
                                        <span class="main-tagcloud__text">ASSET</span>
                                        <img src="static/images/intro/crypto-currency.jpg" class="main-tagcloud__img" alt="crypto-currency">
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <div class="main-tagcloud__anchor mtag--v">
                                        <a href="#">
                                            <span class="main-tagcloud__text">SOCIAL MEDIA</span>
                                            <img src="static/images/intro/social-media.jpg" class="main-tagcloud__img" alt="social-media">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="main-tagcloud-list">
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor">
                                        <span class="main-tagcloud__text">SECURITY</span>
                                        <video control="false" poster="" autoplay="autoplay" muted="muted" loop="" playsinline="" class="main-tagcloud__video" style="right:-25%;">
                                            <source src="static/images/intro/security.mp4" type="video/mp4">
                                        </video>
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <div class="main-tagcloud__anchor mtag--s mtag--v">
                                        <a href="#">
                                            <span class="main-tagcloud__text">CHAT</span>
                                            <img src="static/images/intro/chat.png" class="main-tagcloud__img" alt="chat">
                                        </a>
                                    </div>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor">
                                        <span class="main-tagcloud__text">VR</span>
                                        <video control="false" poster="" autoplay="autoplay" muted="muted" loop="" playsinline="" class="main-tagcloud__video">
                                            <source src="static/images/intro/vr.mp4" type="video/mp4">
                                        </video>
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor mtag--s">
                                        <span class="main-tagcloud__text">SEAMLESS</span>
                                        <img src="static/images/intro/seamless-original.jpg" class="main-tagcloud__img" alt="seamless">
                                    </a>
                                </li>
                            </ul>
                            <ul class="main-tagcloud-list">
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor mtag--s">
                                        <span class="main-tagcloud__text">GAME</span>
                                        <video control="false" poster="" autoplay="autoplay" muted="muted" loop="" playsinline="" class="main-tagcloud__video">
                                            <source src="static/images/intro/game.mp4" type="video/mp4">
                                        </video>
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor" target="_self">
                                        <span class="main-tagcloud__text">CREATIVE</span>
                                        <img src="static/images/intro/creative.jpg" class="main-tagcloud__img" alt="creative">
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor">
                                        <span class="main-tagcloud__text">LANDSCAPE</span>
                                        <img src="static/images/intro/landscape.png" class="main-tagcloud__img" alt="landscape">
                                    </a>
                                </li>
                            </ul>
                            <ul class="main-tagcloud-list">
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor" target="_self">
                                        <span class="main-tagcloud__text">AR</span>
                                        <img src="static/images/intro/ar.jpg" class="main-tagcloud__img" alt="ar">
                                    </a>
                                </li>
                                <li class="main-tagcloud-box">
                                    <a href="#" class="main-tagcloud__anchor">
                                        <span class="main-tagcloud__text">NFT</span>
                                        <img src="static/images/intro/nft.png" class="main-tagcloud__img" alt="nft">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const tagCloud = document.querySelector('.main-tagcloud-inner');

        tagCloud.addEventListener('mousemove', e => {
            var winWidth = window.innerWidth;
            var winHeight = window.innerHeight;
            var contWidth = $(tagCloud).innerWidth();
            var contHeight = $(tagCloud).innerHeight();

            var nowX = (-1 + (e.pageX / window.innerWidth) * 2).toFixed(2);
            var nowY = (1 - (e.pageY / window.innerHeight) * 2).toFixed(2);

            var movePositionX = -1 * (nowX * ((contWidth - 100 - winWidth) / 2));
            var movePositionY = nowY * ((contHeight - 200 - winHeight) / 2);

            $(tagCloud).css({
                'transform': 'translate(' + movePositionX + 'px, ' + movePositionY + 'px)',
            });
        });
    </script>
</section>
</body>

</html>
